.sendForm {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding: 70px 70px 35px 70px;
}

.textarea {
    display: inline-block;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.10), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 33px;
    font-weight: 400;
    resize: unset;
    flex-shrink: 0;
    flex-grow: 1;
    outline: none;
    padding-left: 24px;
    overflow: hidden;
}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
    padding:12px 0 ;
}


.button {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #06C;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.button:hover {
    background-color: dodgerblue;
}

.button:active {
    transform: translateY(3px);
}
